/* PPEditorialNew Regular */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PPEditorialNew Italic */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* PPEditorialNew Bold */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* PPEditorialNew Bold Italic */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/* PPEditorialNew Heavy */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* PPEditorialNew Heavy Italic */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/* PPEditorialNew Thin */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/* PPEditorialNew Thin Italic */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

/* PPEditorialNew Ultralight */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

/* PPEditorialNew Ultralight Italic */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('/public/fonts/PPEditorialNew-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-serif: 'PPEditorialNew', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Flexoki Colours */
:root {
	--colour-black:       #100F0F;
	--colour-paper:       #FFFCF0;
  
	--colour-950:         #1C1B1A;
	--colour-900:         #282726;
	--colour-850:         #343331;
	--colour-800:         #403E3C;
	--colour-700:         #575653;
	--colour-600:         #6F6E69;
	--colour-500:         #878580;
	--colour-300:         #B7B5AC;
	--colour-200:         #CECDC3;
	--colour-150:         #DAD8CE;
	--colour-100:         #E6E4D9;
	--colour-50:          #F2F0E5;
  
	--colour-red-600:     #AF3029;
	--colour-red-400:     #D14D41;
  
	--colour-orange-600:  #BC5215;
	--colour-orange-400:  #DA702C;
  
	--colour-yellow-900:  #4D3A0B;
	--colour-yellow-600:  #AD8301;
	--colour-yellow-400:  #D0A215;
	--colour-yellow-100:  #FCEEB8;
  
	--colour-green-600:   #66800B;
	--colour-green-400:   #879A39;
  
	--colour-cyan-950:    #142625;
	--colour-cyan-600:    #24837B;
	--colour-cyan-400:    #3AA99F;
	--colour-cyan-50:     #EBF2E7;
  
	--colour-blue-600:    #205EA6;
	--colour-blue-400:    #4385BE;
  
	--colour-purple-600:  #5E409D;
	--colour-purple-400:  #8B7EC8;
  
	--colour-magenta-600: #A02F6F;
	--colour-magenta-400: #CE5D97;
  }



/* Theme colors */
:root {
	--background-color: var(--colour-black);

	--text-color: var(--colour-50);
	--text-color-link: var(--colour-paper);
	--text-color-link-active: inherit;
	--text-color-link-visited: inherit;

	--syntax-tab-size: 2;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	font-size: 14px;
	padding: 0;
	margin: 0 auto;
	width: min(52rem , (100% - 2rem));
    counter-reset: sidenote-counter;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

html {
	overflow-y: scroll;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}


/* Default Image Styling */
img {
    display: block; /* Removes bottom spacing from inline images */
    max-width: 100%; /* Ensures image does not overflow its container */
    height: auto; /* Maintains aspect ratio */
    border: none; /* Removes any default border */
    object-fit: cover; /* Ensures the image covers its box without distortion */
}


p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px var(--colour-800);
}

.header-wrap{
	padding-top: 3rem;
	padding-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 120%;
	transform: translateX(-10%);
}

.links-nextprev {
	list-style: none;
	border-top: 1px var(--colour-800);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: space-between;
	padding: 1em;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.875rem; /* 13px /16 */
	color: var(--colour-paper);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}



h1 {
	font-family: var(--font-family-serif);
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
	font-family: var(--font-family-serif);
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
	font-family: var(--font-family-serif);
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

p.subtitle {
	font-family: var(--font-family-serif);
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: block;
    line-height: 1;
}

.numeral {
    font-family: var(--font-family-serif);
}

.danger {
    color: red;
}

article {
    padding: 5rem 0rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
    font-size: 1rem;
    line-height: 1.6rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0;
}

div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
    font-style: italic;
}

div.epigraph > blockquote > footer {
    font-style: normal;
}

div.epigraph > blockquote > footer > cite {
    font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
    font-size: 1.4rem;
}

blockquote p {
    width: 55%;
    margin-right: 40px;
}

blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

section > p,
section > footer,
section > table {
    width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}

a:link,
a:visited {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em;
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem;
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear:both;
}

span.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    section > dl,
    section > ol,
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }
}