---
permalink: /tags/
layout: layouts/home.njk
---
<div class="header-wrap">
<h1>Tags</h1>
</div>

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
